@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

.dark {
  // Variables

  $white: #fff;
  $whitesmoke: #f5f5f5;
  $lightgray: #d3d3d3;
  $darkgray: #6c757d;
  $black: #000;
  $red: #be0000;
  $blue: #0000be;
  $lightgreen: #32cd32;
  $green: #00be00;
  $lightblue: #1e90ff;
  $loading-bg: #f5f4e0;
  $dark: #343a40;
  $dark2: #1b1f25;
  $orange: #ff5400;
  $brightorange: #ffa300;

  // Mix-ins & shared snippets

  @mixin pulse {
    @keyframes pulse-animation {
      0% {
        box-shadow: 0 0 0 0 rgba($green, 0.8);
      }
      70% {
        box-shadow: 0 0 0 1rem rgba($green, 0);
      }
      100% {
        box-shadow: 0 0 0 0 rgba($green, 0);
      }
    }
  }

  @mixin float {
    @keyframes float {
      0% {
        bottom: 3rem;
      }
      50% {
        bottom: 4rem;
      }
      100% {
        bottom: 3rem;
      }
    }
  }

  %letter-spaced {
    letter-spacing: 0.3rem;
  }

  %fw-light {
    font-weight: 300;
  }

  %v-middle {
    align-items: center;
    display: flex;
  }

  // Body & global styles

  background-color: $dark;
  font-family: 'Open Sans', sans-serif;

  a {
    color: unset;

    &:hover {
      color: unset;
      text-decoration: none;
    }
  }

  // Bootstrap overrides

  .navbar {
    background-color: $dark2 !important;
    border-bottom: .15rem dashed $dark;
  }

  .navbar-brand, .nav-item {
    @extend %letter-spaced, %fw-light;

    color: $whitesmoke !important;

    .jam {
      color: $lightgreen !important;
    }
  }

  .dropdown-toggle:after {
    content: none
  }

  .dropdown-menu {
    background-color: $dark;
    border: .04rem solid $whitesmoke;
    border-radius: 0;
    right: 0;
  }

  .dropdown-header {
    font-weight: bold;
    color: $whitesmoke;
  }

  .dropdown-item {
    font-size: small;
    color: $whitesmoke;
  }

  .dropdown-item:hover {
    background-color: transparent;
    color: $whitesmoke;
    text-decoration: none;
  }

  .display-1, .display-4 {
    @extend %letter-spaced;

    color: $lightgray;
    margin-top: 1.25rem;
    text-align: center;
  }

  .display-4 {
    font-size: 1.25rem;
  }

  .text-muted {
    color: $lightgray !important;
  }

  .spinner-grow {
    color: $whitesmoke;
  }

  .table {
    color: $whitesmoke;
  }

  .modal-header {
    border-bottom: none;

    .close {
      color: white;
    }
  }

  .modal-content {
    background-color: $dark;
    color: $whitesmoke;
  }

  .modal-footer {
    border-top: none;
  }

  .btn-primary {
    background-color: $lightgreen !important;
    border: none;
    outline: none;

    &:focus, &:hover, &:active {
      background-color: darken($lightgreen, 5%) !important;
      border: none;
      outline: none;
    }

    &:active {
      background-color: darken($lightgreen, 15%) !important;
    }
  }

  // Application styles

  .text-light {
    color: $whitesmoke;
  }

  .info-card {
    border: .15rem dashed $lightgray;
    min-height: 120px;
    padding: 1rem;
    transition: margin 300ms;
    color: $whitesmoke;

    table {
      @extend %fw-light;

      margin-top: 1rem;
      margin-bottom: 0;
    }

    &:hover {
      margin-top: .5rem;
      margin-bottom: -0.5rem;
    }
  }

  .red-accent {
    border-color: $red;
  }

  .green-accent {
    border-color: $green;
  }

  .blue-accent {
    border-color: $blue;
  }

  .lightblue-accent {
    border-color: $lightblue;
  }

  .slim {
    @extend %letter-spaced, %fw-light;

    font-size: 0.75rem;
  }

  .content-middle {
    @extend %v-middle;

    & > * {
      margin: 0 auto;
    }
  }

  .content-v-middle {
    @extend %v-middle;
  }

  .weather-summary {
    color: $whitesmoke;

    .col-md-1, .col-md-2 {
      align-items: center;
      display: flex;

      * {
        margin: 0 auto;
      }
    }

    .weather-img {
      padding: .5rem;
    }
  }

  .btn-round {
    background-color: $dark !important;
    border-radius: 50%;
    height: 3rem;
    transition: border 500ms, background-color 500ms;
    width: 3rem;
    border: 1px solid $whitesmoke;

    &:hover, &:focus, &:active {
      background-color: $dark !important;
      border: 0.35rem solid $whitesmoke !important;
    }

    &:disabled {
      background-color: transparent !important;
      border: 0.15rem dashed $whitesmoke;
      cursor: default;
    }
  }

  .not-found {
    margin-top: calc(50vh - 56px - 56px) !important;
  }

  .webcam-card {
    background-color: transparent;
    border: none;
  }

  .webcam-feed {
    div {
      @include pulse;

      animation: pulse-animation 2s infinite;
      background-color: $green;
      border-radius: 50%;
      height: 1rem;
      position: absolute;
      right: 2.25rem;
      top: 1.25rem;
      width: 1rem;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .service-online,
  .service-offline,
  .service-problem {
    &:before {
      display: inline-block;
      content: '';
      height: 0.75rem;
      width: 0.75rem;
      border-radius: 1em;
    }
  }

  .service-online:before {
    background-color: $green;
  }

  .service-offline:before {
    background-color: $red;
  }

  .service-problem:before {
    background-color: $orange;
  }

  .dropdown-menu {
    .service-online,
    .service-offline,
    .service-problem {
      &:before {
        margin-right: 1em;
      }
    }
  }

  .history-card {
    background-color: transparent;
    border: none;
  }

  .plant-card {
    background-color: transparent;
    border: none;
  }

  .theme-button {
    background-color: transparent;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .nw-button {
    margin: 0 auto 2rem;
    width: 4rem;
    height: 4rem;
    color: $whitesmoke;
    border-radius: 50%;
    background-color: $dark2;
    border: .15rem dashed $dark;
    text-align: center;
    font-size: 2.6rem;
    transition: color ease .2s;
    cursor: pointer;

    &:hover {
      color: $green;
    }
  }

  .condition-check {
    color: $green;
  }

  .condition-triangle-danger {
    color: $brightorange;
  }

  .condition-alert {
    color: $red;
  }

  .event-card {
    background-color: transparent;
    border: none;
  }

  .command-input {
    .form-control {
      border-radius: 0;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .btn-outline-secondary {
      border-radius: 0;
      color: $lightgreen;
      border-color: $lightgreen;

      &:hover {
        background-color: rgba($lightgreen, .2);
      }
    }
  }

  .command-preset {
    font-family: Monaco, monospace;
    width: 100%;
    color: $whitesmoke;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: .15rem dashed $whitesmoke;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
    transition: margin 300ms;

    &:hover {
      margin-top: .5rem;
      margin-bottom: -0.5rem;
    }
  }

  .reset-command {
    font-family: 'Open Sans', sans-serif !important;
    color: rgba($whitesmoke, .4);
    border-color: rgba($whitesmoke, .4);
  }
}
