.plant-svg {
}

.st0 {
  fill: #0000FF;
}

.st1 {
  fill: url(#SVGID_1_);
}

.st2 {
  fill: #FF0000;
}

.st3 {
  fill: url(#SVGID_2_);
}

.st4 {
  fill: url(#SVGID_3_);
}

.st5 {
  fill: url(#SVGID_4_);
}

.st6 {
  fill: #F7931E;
}

.st7 {
  fill: url(#SVGID_5_);
}

.st8 {
  fill: none;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.st9 {
  fill: none;
}

.all-text {
}

.labels {
  font-size: 11px;
  fill: whitesmoke;
}

.sub-labels {
  font-size: 9px;
  fill: whitesmoke;
}


.st14 {
  fill: #00A554;
}

.st15 {
  fill: #008B46;
}

.st16 {
  fill: #D37300;
}

.st17 {
  fill: #8F4B00;
}

.st18 {
  fill: #60DD4D;
}

.st19 {
  fill: #00C37A;
}

.st20 {
  fill: #462100;
}
